.myPosts {
    max-width: 895px;
    margin-bottom: 100px;
}

.post {
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.postTitle {
    color: #7c7c7caf;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.4px;

    margin-bottom: 20px;
}

.postText {
    line-height: 24px;

    text-shadow: 0 0 35px #000;
}

.postInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 15px;
}

.postSubject {
    color: rgba(52, 0, 150, 0.6);
    letter-spacing: 1.5px;
    font-size: 14px;
    text-transform: lowercase;
}
.postPublTime {
    color: rgb(30, 0, 85);
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: lowercase;
}

.postLikes {
    margin: 20px 0px 0 0;

    cursor: pointer;
    color: rgb(175, 175, 175);
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: lowercase;
}

.postLikesCliked {
    margin: 20px 0px 0 0;

    cursor: pointer;
    color: rgb(150, 0, 0);
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: lowercase;
}


