.app-wrapper {
  display: grid;
  grid-template-rows: 120px 1fr;
  grid-template-columns: 1fr 10fr;

  grid-template-areas: "h h" "s c";
}

.content {
    grid-area: c;

    margin: 10px 200px 50px 0px;
}

.header {
    grid-area: h;
    background-color: #d4d4d4;
    margin-bottom: 30px;
}

.sidebar {
    grid-area: s;

    margin: 10px 100px 50px 150px;
}